#mysubmit{
    font-size: 1em;
}
#subresust{
    font-size: 2em;
    background-color: brown;
    color: white;
    
}
#paymentresult{
    font-size: 1em;
}
#paymentresult{
    font-size: 2em;
    background-color: rgb(255, 0, 230);
    color: white;
    
}